<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:contect="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <contect:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicBean1" class="RockMusic"
          destroy-method="DoMyDestroy"
    />
    <bean
            id="musicBean2"
            class="ClassicalMusic"
            factory-method="getClassicalMusic"
            scope="prototype"
    />
    <bean id="musicBean3" class="RapMusic"/>

    <bean id="musicPlayer"
          class="MusicPlayer">
        <property name="musicList">
            <list>
                <ref bean="musicBean1"/>
                <ref bean="musicBean2"/>
                <ref bean="musicBean3"/>
            </list>
        </property>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>


    <!--    Chererz construct     -->


    <!--    <bean id = "MusicPlayer"-->
    <!--        class = "MusicPlayer">-->
    <!--        <constructor-arg ref="musicBean" />-->
    <!--    </bean>-->

    <!-- CHEREZ SETTER -->

</beans>