<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:contect="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

   <contect:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicBean"
          class="RockMusic">
    </bean>



<!--    Chererz construct     -->




<!--    <bean id = "MusicPlayer"-->
<!--        class = "MusicPlayer">-->
<!--        <constructor-arg ref="musicBean" />-->
<!--    </bean>-->

    <!-- CHEREZ SETTER -->



    <bean id="MusicPlayer"
          class="MusicPlayer">
        <property name="music" ref="musicBean"/>

        <property name="name" value="${musicPlayer.name}" />
        <property name="volume" value="${musicPlayer.volume}" />
    </bean>
        </beans>